<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ROI.Properties.Settings.propertiesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\properties.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ROI.Properties.Settings.RankenConnectionString" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Ranken;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>